import libraries

In [1]:
# data manipulation
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
#warnings.filterwarnings('igonre')

import datetime
from sklearn.model_selection import train_test_split

In [2]:
# import data
train =pd.read_csv('datasets/train.csv')
test =pd.read_csv('datasets/test.csv')
view_log =pd.read_csv('datasets/view_log.csv')
item_data =pd.read_csv('datasets/item_data.csv')

In [3]:
print(train.shape, test.shape, view_log.shape, item_data.shape)

(237609, 7) (90675, 6) (3118622, 5) (132761, 6)

In [4]:
train.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [5]:
view_log.head(5)

           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640
2  2018-10-15 08:58:00     android      573960    23628   128855
3  2018-10-15 08:58:00     android      121691     2430    12774
4  2018-10-15 08:58:00     android      218564    19227    28296

Merging train data

In [6]:
ite = pd.merge(train,view_log,on="user_id", how="left")

In [7]:
ite.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click,server_time,device_type,session_id,item_id
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,2018-10-19 18:11:00,android,190710,43886
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-21 06:13:00,android,356854,43209
2,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-21 06:13:00,android,356854,66370
3,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-21 17:01:00,android,345289,43209
4,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,2018-10-22 09:54:00,android,406658,43209

In [8]:
train_data = pd.merge(ite, item_data, on="item_id", how="left")

MemoryError: Unable to allocate array with shape (2, 11052882) and data type object